{% extends 'tracker/base.html' %}

{% block content %}
<div class="container mx-auto">
    <h3 class="font-bold text-lg m-4">Edit Client</h3>
    <form id="edit-client-form" method="post" action="{% url 'edit_client' client.id %}">
        {% csrf_token %}
        
        <div class="form-control w-full max-w-xs">
            {{ form.client_name.label_tag }} {{ form.client_name }}
        </div>
        
        <div class="form-control w-full max-w-xs">
            {{ form.client_mail.label_tag }} {{ form.client_mail }}
        </div>
        
        <div class="form-control w-full max-w-xs">
            {{ form.firm_name.label_tag }} {{ form.firm_name }}
        </div>
        
        <div class="form-control w-full max-w-xs">
            {{ form.street_address.label_tag }} {{ form.street_address }}
        </div>
        
        <div class="form-control w-full max-w-xs">
            {{ form.postal_code.label_tag }} {{ form.postal_code }}
        </div>
        
        <div class="form-control w-full max-w-xs">
            {{ form.city.label_tag }} {{ form.city }}
        </div>
        
        <div class="form-control w-full max-w-xs">
            {{ form.country.label_tag }} {{ form.country }}
        </div>
        
        <div class="modal-action">
            <button type="submit" class="btn btn-secondary btn-sm">Save</button>
            <a href="{% url 'projects' %}" class="btn btn-sm">Cancel</a>
        </div>
    </form>
</div>
{% endblock content %}
