{% extends 'tracker/base.html' %}

{% block title %}Edit Project{% endblock %}

{% block content %}
<div class="container mx-auto p-4" x-data="{ showForm: false }">
    <div class="flex justify-between items-center mb-4">
        <div class="join align-middle justify-center items-center">
            <h2 class="text-lg font-thin">Edit - </h2>
            <h2 class="text-2xl font-semibold m-2">{{ project.project_name }}</h2>
        </div>
        <div class="flex items-center gap-2">
            <button class="btn btn-circle btn-outline" @click="showForm = !showForm">
                <svg xmlns="http://www.w3.org/2000/svg" :class="{ 'rotate-180': showForm }" class="h-5 w-5 transition-transform" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
            </button>
            <button class="btn btn-circle btn-outline btn-error" onclick="window.location.href='{% url 'projects' %}';">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
    </div>

    <div x-show="showForm" class="transition-all duration-300 ease-in-out">
        <form method="post" action="{% url 'edit_project' project.id %}">
            {% csrf_token %}
            <div class="grid grid-cols-3 gap-4">
                <div class="form-control">
                    <input type="text" name="project_name" value="{{ project.project_name }}" placeholder="Project Name" class="input input-bordered m-1" id="id_project_name">
                </div>
                <div class="form-control">
                    <input type="text" name="project_address" value="{{ project.project_address }}" placeholder="Project Address" class="input input-bordered m-1" id="id_project_address">
                </div>
                <div class="form-control">
                    <select name="client_name" class="select select-bordered m-1" id="id_client_name">
                        {% for client in clients %}
                            <option value="{{ client.id }}" {% if project.client_name.id == client.id %}selected{% endif %}>{{ client.firm_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-control">
                    <input type="text" name="project_no" value="{{ project.project_no }}" placeholder="Project Number" class="input input-bordered m-1" id="id_project_no">
                </div>
                <div class="form-control">
                    <select name="status" class="select select-bordered m-1" id="id_status">
                        {% for choice in form.status.field.choices %}
                            <option value="{{ choice.0 }}" {% if form.status.value == choice.0 %}selected{% endif %}>{{ choice.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-control m-1">
                    {{ form.user }}
                </div>
            </div>
            <div class="modal-action">
                <button type="submit" class="btn btn-primary btn-sm">Save Changes</button>
            </div>
        </form>
    </div>

    <div class="divider lg:divider-neutral"></div>

    <div role="tablist" class="tabs tabs-bordered">
        <input type="radio" name="my_tabs_1" role="tab" class="tab" aria-label="Contracts" id="contracts-tab" checked="checked" />
        <div role="tabpanel" class="tab-content p-10" id="contracts-content">
          <div class="flex justify-between items-center mb-4">
              <h2 class="text-xl font-semibold">Manage Contracts</h2>
              <button class="btn btn-sm btn-accent" onclick="openContractModal()">+ New Contract</button>
          </div>
          <div class="overflow-x-auto h-80">
              <table class="table" id="contract-table">
                  <thead>
                      <tr>
                          <th></th>
                          <th>Contract Name</th>
                          <th>Users</th>
                          <th>Budget</th>
                          <th>Actions</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for contract in contracts %}
                      <tr class="hover">
                          <td>
                              <form method="post" action="{% url 'delete_contract' contract.id %}" style="display:inline;">
                                  {% csrf_token %}
                                  <button type="submit" class="btn btn-sm btn-error btn-outline p-1 m-1" onclick="return confirm('Are you sure you want to delete this contract?');">
                                      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                      </svg>
                                  </button>
                              </form>
                          </td>
                          <td>
                              <a href="javascript:void(0);" onclick="openEditContractModal({{ contract.id }})" class="font-semibold hover:text-secondary">
                                  {{ contract.contract_name }}
                              </a>
                          </td>
                          <td>
                              {% for section in contract.section.all %}
                                  <strong>{{ section.section_name }}</strong><br>
                                  {% for item in section.Item.all %}
                                      {{ item.Item_name }}:
                                      {% for user in item.users.all %}
                                          {{ user.username }}{% if not forloop.last %}, {% endif %}
                                      {% endfor %}
                                      <br>
                                  {% endfor %}
                              {% endfor %}
                          </td>
                          <td>
                              {% for section in contract.section.all %}
                                  <strong>{{ section.section_name }}</strong><br>
                                  {% for item in section.Item.all %}
                                      {{ item.Item_name }}: {{ item.budget }}<br>
                                  {% endfor %}
                              {% endfor %}
                          </td>
                          <td style="display: flexbox; align-items: center; gap: 2px;">
                              <button class="btn btn-sm btn-primary btn-outline m-1" onclick="openAddUsersModal({{ contract.id }})">
                                  ✎ Users
                              </button>
                              <button class="btn btn-sm btn-primary btn-outline m-1" onclick="openAddBudgetModal({{ contract.id }})">
                                  ✎ Budget
                              </button>
                              <button class="btn btn-sm btn-primary btn-outline m-1" onclick="openTemplateModal({{ contract.id }})">
                                  🖪 Estimate
                              </button>
                          </td>
                      </tr>
                      {% empty %}
                      <tr>
                          <td colspan="4" class="text-center">No contracts have been added yet.</td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
        </div>
      
        <input type="radio" name="my_tabs_1" role="tab" class="tab" aria-label="Invoices" id="invoices-tab" />
        <div role="tabpanel" class="tab-content p-10" id="invoices-content">
            <div class="flex justify-between items-center mb-4">
                <h2 class="text-xl font-semibold">Manage Invoices</h2>
                <button class="btn btn-sm btn-accent" onclick="openInvoiceModal()">+ New Invoice</button>
            </div>
            <div class="overflow-x-auto h-80">
                <table class="table" id="invoice-table">
                    <thead>
                        <tr>
                            <th>Invoice Number</th>
                            <th>Contract</th>
                            <th>Date Issued</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for invoice in invoices %}
                        <tr>
                            <td>{{ invoice.title }}</td>
                            <td>{{ invoice.contract.contract_name }}</td>
                            <td>{{ invoice.created_at|date:"d M Y" }}</td>
                            <td>{{ invoice.invoice_net }}</td>
                            <td>{{ invoice.get_status_display }}</td>
                            <td>
                                <button class="btn btn-xs btn-primary" onclick="viewInvoice({{ invoice.id }})">View</button>
                                <form method="post" action="{% url 'delete_invoice' invoice.id %}" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-xs btn-danger">Delete</button>
                                </form>
                                <a href="{% url 'download_invoice' invoice.id %}" class="btn btn-xs btn-secondary">Download Invoice</a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6" class="text-center">No invoices have been added yet.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>



<!-- Add/Edit Users Modal -->
<div id="addUsersModal" class="modal">
    <div class="modal-box max-w-5xl">
        <h3 class="font-bold text-lg m-4">Add/Edit Users</h3>
        <form id="add-users-form" method="post" action="{% url 'add_users' %}">
            {% csrf_token %}
            <input type="hidden" name="contract_id" id="add_users_contract_id">
            <div class="overflow-x-auto">
                <table class="table" id="users-table">
                    <thead>
                        <tr>
                            <th>NO.</th>
                            <th>SECTION</th>
                            <th>ITEM</th>
                            <!-- Usernames will be populated here by JavaScript -->
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Sections and items will be populated here by JavaScript -->
                    </tbody>
                </table>
            </div>
            <div class="modal-action">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="#" class="btn" onclick="closeAddUsersModal()">Cancel</a>
            </div>
        </form>
    </div>
</div>


<!-- Add/Edit Budget Modal -->
<div id="addBudgetModal" class="modal">
    <div class="modal-box max-w-5xl">
        <h3 class="font-bold text-lg m-4">Add/Edit Budget</h3>
        <form id="add-budget-form" method="post" action="{% url 'add_budget' %}">
            {% csrf_token %}
            <input type="hidden" name="contract_id" id="add_budget_contract_id">
            <div class="overflow-x-auto">
                <table class="table" id="budget-table">
                    <thead>
                        <tr>
                            <th>NO.</th>
                            <th>SECTION</th>
                            <th>ITEM</th>
                            <th>QUANTITY</th>
                            <th>UNIT</th>
                            <th>RATE</th>
                            <th>TOTAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Sections and items will be populated here by JavaScript -->
                    </tbody>
                </table>
            </div>
            <div class="overflow-x-auto mt-4">
                <table class="table w-full">
                    <tbody>
                        <tr>
                            <td class="text-right font-thin w-1/6">Sum of Items €</td>
                            <td><input type="text" id="sum_of_items" class="input input-bordered input-sm w-1/4" readonly></td>
                        </tr>
                        <tr>
                            <td class="text-right font-thin w-1/6">Additional Fee %</td>
                            <td><input type="text" name="additional_fee_percentage" id="additional_fee_percentage" class="input input-bordered stroke-slate-950 input-sm w-1/4"></td>
                        </tr>
                        <tr>
                            <td class="text-right font-thin w-1/6">Additional Fee €</td>
                            <td><input type="text" id="additional_fee" class="input input-bordered input-sm w-1/4" readonly></td>
                        </tr>
                        <tr>
                            <td class="text-right font-bold w-1/6">Net Contract €</td>
                            <td><input type="text" id="net_contract" class="input input-bordered input-sm w-1/4" readonly></td>
                        </tr>
                        <tr>
                            <td class="text-right font-thin w-1/6">VAT (19%) €</td>
                            <td><input type="text" id="vat" class="input input-bordered input-sm w-1/4" readonly></td>
                        </tr>
                        <tr>
                            <td class="text-right font-bold w-1/6">Gross Contract €</td>
                            <td><input type="text" id="gross_contract" class="input input-bordered input-sm w-1/4" readonly></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-action">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="#" class="btn" onclick="closeAddBudgetModal()">Cancel</a>
            </div>
        </form>
    </div>
</div>



<!-- Modal to select the template -->
<div id="selectTemplateModal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Select Template and Valid Until Date</h3>
        <form id="template-form" method="get" action="{% url 'generate_word_document' 0 %}">
            <input type="hidden" name="contract_id" id="template_contract_id">
            <div class="form-control m-2">
                <label for="template_name" class="label">Template</label>
                <select name="template_name" id="template_name" class="select select-bordered w-full">
                    <option value="Kost_De.docx">Kost_De</option>
                    <option value="Kost_En.docx">Kost_En</option>
                    <option value="BCK_De.docx">BCK_De</option>
                    <option value="BCK_En.docx">BCK_En</option>
                </select>
            </div>
            <div class="form-control m-2">
                <label for="valid_until" class="label">Valid Until</label>
                <input type="date" name="valid_until" id="valid_until" class="input input-bordered w-full">
            </div>
            <div class="modal-action">
                <button type="submit" class="btn btn-primary">Download</button>
                <a href="#" class="btn" onclick="closeTemplateModal()">Cancel</a>
            </div>
        </form>
    </div>
</div>

<!-- Invoice Details Modal -->
<div id="invoiceDetailModal" class="modal">
    <div id="invoice-details-content">
        <!-- Invoice details will be populated here -->
    </div>
</div>

{% include 'tracker/view_invoice_modal.html' %}

{% include 'tracker/create_invoice.html' %}
{% include 'tracker/contract_form_modal.html' %}
{% endblock %}

{% block extra_scripts %}
<script src="//unpkg.com/alpinejs" defer></script>
<script>
    function showContracts() {
        document.getElementById('contracts-content').style.display = 'block';
        document.getElementById('invoices-content').style.display = 'none';
        document.getElementById('contracts-tab').classList.add('tab-active');
        document.getElementById('invoices-tab').classList.remove('tab-active');
    }

    function showInvoices() {
        document.getElementById('contracts-content').style.display = 'none';
        document.getElementById('invoices-content').style.display = 'block';
        document.getElementById('contracts-tab').classList.remove('tab-active');
        document.getElementById('invoices-tab').classList.add('tab-active');
    }
    // Function to open the template modal
    function openTemplateModal(contractId) {
        document.getElementById('template_contract_id').value = contractId;
        document.getElementById('selectTemplateModal').classList.add('modal-open');
    }

    // Function to close the template modal
    function closeTemplateModal() {
        document.getElementById('selectTemplateModal').classList.remove('modal-open');
    }

    document.getElementById('template-form').addEventListener('submit', function(event) {
        const contractId = document.getElementById('template_contract_id').value;
        const templateName = document.getElementById('template_name').value;
        const validUntil = document.getElementById('valid_until').value;

        // Check if the validUntil value is provided
        if (!validUntil) {
            alert('Please provide a valid until date.');
            event.preventDefault();  // Prevent form submission
            return;
        }
        
        // Set the form action URL
        this.action = `{% url 'generate_word_document' 0 %}`.replace('0', contractId) + `?template_name=${templateName}&valid_until=${validUntil}`;

        // Close the modal
        closeTemplateModal();

        // Allow form submission to proceed
    });

    function fetchData(url, callback) {
        fetch(url)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => callback(data))
            .catch(error => {
                console.error('Error:', error);
                alert('Error fetching data: ' + error.message);
            });
    }

    function populateUsersTable(contractId, projectUsers) {
        fetchData(`/ajax/load-contract-data/?contract_id=${contractId}`, data => {
            const usersTable = document.getElementById('users-table');
            const thead = usersTable.querySelector('thead tr');
            const tbody = usersTable.querySelector('tbody');

            thead.innerHTML = '<th>NO.</th><th>SECTION</th><th>ITEM</th>';
            tbody.innerHTML = '';

            projectUsers.forEach(user => {
                const th = document.createElement('th');
                th.innerHTML = `
                    ${user.username}<br>
                    <input type="checkbox" onclick="toggleUserCheckboxes(${user.id}, this)">
                `;
                thead.appendChild(th);
            });

            data.sections.forEach((section, sectionIndex) => {
                section.items.forEach((item, itemIndex) => {
                    const tr = document.createElement('tr');
                    tr.innerHTML = `
                        <td>${sectionIndex + 1},${itemIndex + 1}</td>
                        <td>${section.section_name}</td>
                        <td>${item.Item_name}</td>
                    `;

                    projectUsers.forEach(user => {
                        const td = document.createElement('td');
                        const checkbox = document.createElement('input');
                        checkbox.type = 'checkbox';
                        checkbox.name = `user_item_${user.id}_${item.id}`;
                        checkbox.checked = item.users.includes(user.id);
                        checkbox.classList.add(`user-checkbox-${user.id}`);
                        td.appendChild(checkbox);
                        tr.appendChild(td);
                    });

                    tbody.appendChild(tr);
                });
            });
        });
    }

    function updateTotal(itemId) {
        const quantityInput = document.querySelector(`input[name="quantity_${itemId}"]`);
        const rateInput = document.querySelector(`input[name="rate_${itemId}"]`);
        const totalField = document.getElementById(`total_${itemId}`);

        const quantityValue = parseFloat(quantityInput.value) || 0;
        const rateValue = parseFloat(rateInput.value) || 0;
        const totalValue = quantityValue * rateValue;

        totalField.textContent = totalValue.toFixed(2);

        // Update summary fields
        updateSummaryFields();
    }

    function updateSummaryFields() {
        const itemTotals = document.querySelectorAll('[id^="total_"]');
        let sumOfItems = 0;
        itemTotals.forEach(totalField => {
            sumOfItems += parseFloat(totalField.textContent) || 0;
        });

        const additionalFeePercentageInput = document.getElementById('additional_fee_percentage');
        const additionalFeePercentage = parseFloat(additionalFeePercentageInput.value) || 0;
        const additionalFee = (sumOfItems * additionalFeePercentage) / 100;

        const netContract = sumOfItems + additionalFee;
        const vat = netContract * 0.19;
        const grossContract = netContract + vat;

        document.getElementById('sum_of_items').value = sumOfItems.toFixed(2);
        document.getElementById('additional_fee').value = additionalFee.toFixed(2);
        document.getElementById('net_contract').value = netContract.toFixed(2);
        document.getElementById('vat').value = vat.toFixed(2);
        document.getElementById('gross_contract').value = grossContract.toFixed(2);
    }

    document.getElementById('additional_fee_percentage').addEventListener('input', updateSummaryFields);

    function populateBudgetTable(contractId) {
        fetchData(`/ajax/load-contract-data/?contract_id=${contractId}`, data => {
            const budgetTable = document.getElementById('budget-table');
            const thead = budgetTable.querySelector('thead tr');
            const tbody = budgetTable.querySelector('tbody');

            thead.innerHTML = '<th>NO.</th><th>SECTION</th><th>ITEM</th><th>QUANTITY</th><th>UNIT</th><th>RATE</th><th>TOTAL</th>';
            tbody.innerHTML = '';

            data.sections.forEach((section, sectionIndex) => {
                section.items.forEach((item, itemIndex) => {
                    const tr = document.createElement('tr');
                    tr.innerHTML = `
                        <td>${sectionIndex + 1},${itemIndex + 1}</td>
                        <td>${section.section_name}</td>
                        <td>${item.Item_name}</td>
                        <td><input type="text" name="quantity_${item.id}" value="${item.quantity || ''}" class="input input-bordered w-full" onchange="updateTotal(${item.id})" /></td>
                        <td>
                            <select name="unit_${item.id}" class="select select-bordered w-full">
                                <option value="Std." ${item.unit === 'Std' ? 'selected' : ''}>Std</option>
                                <option value="Psch" ${item.unit === 'Psch' ? 'selected' : ''}>Psch</option>
                                <option value="Stk" ${item.unit === 'Stk' ? 'selected' : ''}>Stk</option>
                            </select>
                        </td>
                        <td><input type="text" name="rate_${item.id}" value="${item.rate || ''}" class="input input-bordered w-full" onchange="updateTotal(${item.id})" /></td>
                        <td id="total_${item.id}">${item.total || 0}</td>
                    `;
                    tbody.appendChild(tr);
                });
            });

            // Populate additional fee percentage
            const additionalFeePercentageInput = document.getElementById('additional_fee_percentage');
            additionalFeePercentageInput.value = data.additional_fee_percentage || 0;

            // Initialize the summary fields
            updateSummaryFields();
        });
    }


    
    function populateUsersTable(contractId, projectUsers) {
        fetchData(`/ajax/load-contract-data/?contract_id=${contractId}`, data => {
            const usersTable = document.getElementById('users-table');
            const thead = usersTable.querySelector('thead tr');
            const tbody = usersTable.querySelector('tbody');

            thead.innerHTML = '<th>NO.</th><th>SECTION</th><th>ITEM</th>';
            tbody.innerHTML = '';

            projectUsers.forEach(user => {
                const th = document.createElement('th');
                th.innerHTML = `
                    ${user.username}<br>
                    <input type="checkbox" onclick="toggleUserCheckboxes(${user.id}, this)">
                `;
                thead.appendChild(th);
            });

            data.sections.forEach((section, sectionIndex) => {
                section.items.forEach((item, itemIndex) => {
                    const tr = document.createElement('tr');
                    tr.innerHTML = `
                        <td>${sectionIndex + 1},${itemIndex + 1}</td>
                        <td>${section.section_name}</td>
                        <td>${item.Item_name}</td>
                    `;

                    projectUsers.forEach(user => {
                        const td = document.createElement('td');
                        const checkbox = document.createElement('input');
                        checkbox.type = 'checkbox';
                        checkbox.name = `user_item_${user.id}_${item.id}`;
                        checkbox.checked = item.users.includes(user.id);
                        checkbox.classList.add(`user-checkbox-${user.id}`);
                        td.appendChild(checkbox);
                        tr.appendChild(td);
                    });

                    tbody.appendChild(tr);
                });
            });
        });
    }


    function toggleUserCheckboxes(userId, masterCheckbox) {
        const checkboxes = document.querySelectorAll(`.user-checkbox-${userId}`);
        checkboxes.forEach(checkbox => {
            checkbox.checked = masterCheckbox.checked;
        });
    }

    window.toggleUserCheckboxes = toggleUserCheckboxes;

    function handleFormSubmission(event, form, url) {
        event.preventDefault();
        const formData = new FormData(form);

        fetch(url, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': form.querySelector('[name=csrfmiddlewaretoken]').value,
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                location.reload();
            } else {
                console.error('Error:', data.error);
                alert('Error: ' + data.error);
            }
        })
        .catch(error => {
            console.error('Error submitting form:', error);
            alert('Error submitting form: ' + error);
        });
    }

    document.getElementById('add-users-form').addEventListener('submit', function(event) {
        handleFormSubmission(event, this, this.action);
    });

    document.getElementById('add-budget-form').addEventListener('submit', function(event) {
        handleFormSubmission(event, this, this.action);
    });


    window.openAddUsersModal = function(contractId) {
        document.getElementById('add_users_contract_id').value = contractId;
        const projectId = {{ project.id }}; // Ensure project.id is correctly passed here
        document.getElementById('addUsersModal').classList.add('modal-open');
        fetch(`/ajax/get-project-users/?project_id=${projectId}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.error) {
                    console.error('Error:', data.error);
                    alert('Error: ' + data.error);
                } else {
                    // Populate users table
                    populateUsersTable(contractId, data.project_users);
                }
            })
            .catch(error => {
                console.error('Error fetching project users:', error);
                alert('Error fetching project users: ' + error.message);
            });
    }

    window.closeAddUsersModal = function() {
        document.getElementById('addUsersModal').classList.remove('modal-open');
    }

    window.openAddBudgetModal = function(contractId) {
        document.getElementById('add_budget_contract_id').value = contractId;
        document.getElementById('addBudgetModal').classList.add('modal-open');
        populateBudgetTable(contractId);
    }

    window.closeAddBudgetModal = function() {
        document.getElementById('addBudgetModal').classList.remove('modal-open');
    }
</script>
{% endblock %}
