{% extends 'tracker/base.html' %}

{% block content %}

<h1 class="mt-4 mb-6 text-2xl font-bold">
    Logcreate Page
</h1>

<div class="flex  justify-center">
    <div>
        <select class="select select-bordered w-full max-w-xs">
            <option disabled selected>Who shot first?</option>
            <option>Han Solo</option>
            <option>Greedo</option>
          </select>
    </div>
    <div>
        <select class="select select-bordered w-full max-w-xs">
            <option disabled selected>Who shot first?</option>
            <option>Han Solo</option>
            <option>Greedo</option>
          </select>
          <select class="select select-bordered w-full max-w-xs">
            <option disabled selected>Who shot first?</option>
            <option>Han Solo</option>
            <option>Greedo</option>
          </select>
    </div>
    <div>
        <select class="select select-bordered w-full max-w-xs">
            <option disabled selected>Who shot first?</option>
            <option>Han Solo</option>
            <option>Greedo</option>
          </select>
    </div>
  </div>

</div>

{% endblock content %}
