{% load static %}
{% load custom_filters %}

<div class="btm-nav flex justify-around bg-base-200 p-2 shadow-lg">
    {% if user|has_group:'employees' or user|has_group:'managers' %}
        <a href="{% url 'log_create_compact' %}" class="flex-1 text-center py-2 mx-1 transition-transform duration-100 transform hover:scale-103">
            <div class="{% if request.path == '/' %}border-t-4 border-pink-600{% endif %}"></div>
            <button class="flex flex-col items-center w-full {% if request.path == '/' %}text-pink-600{% else %}text-base-content{% endif %}">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5 mb-1"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span class="btm-nav-label">Quick</span>
            </button>
        </a>
        <a href="{% url 'log_create' %}" class="flex-1 text-center py-2 mx-1 transition-transform duration-100 transform hover:scale-103">
            <div class="{% if request.path == '/log_create/' %}border-t-4 border-blue-600{% endif %}"></div>
            <button class="flex flex-col items-center w-full {% if request.path == '/log_create/' %}text-blue-600{% else %}text-base-content{% endif %}">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5 mb-1"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                </svg>
                <span class="btm-nav-label">Advanced</span>
            </button>
        </a>
    {% endif %}
    {% if user|has_group:'managers' %}
        <!-- <a href="{% url 'dashboard' %}" class="flex-1 text-center py-2 mx-1 transition-transform duration-100 transform hover:scale-103">
            <div class="{% if request.path == '/dashboard/' %}border-t-4 border-teal-600{% endif %}"></div>
            <button class="flex flex-col items-center w-full {% if request.path == '/dashboard/' %}text-teal-600{% else %}text-base-content{% endif %}">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5 mb-1"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span class="btm-nav-label">Dashboard</span>
            </button>
        </a> -->
        <a href="{% url 'projects' %}" class="flex-1 text-center py-2 mx-1 transition-transform duration-100 transform hover:scale-103">
            <div class="{% if request.path == '/projects/' %}border-t-4 border-green-600{% endif %}"></div>
            <button class="flex flex-col items-center w-full {% if request.path == '/projects/' %}text-green-600{% else %}text-base-content{% endif %}">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5 mb-1"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
                </svg>
                <span class="btm-nav-label">Projects</span>
            </button>
        </a>
    {% endif %}
</div>
