{% load static %}
<nav>
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl">
        BCK_App
      </a>
    </div>

    <div class="flex-none gap-6">
      <div>
        <input type="checkbox" value="dark" class="toggle theme-controller" />
      </div>
      {% if user.is_authenticated %}
      <span class="text-base-content">Hallo,{{ user.username }}</span>
      {% endif %}
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img
              alt="User Avatar"
              src= "https://i.ibb.co/fkSb1NL/BCK-icon.png" />
          </div>
        </label>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52 z-[1]">
          {% if user.is_authenticated %}
            <li>
              <a href="{% url 'account_logout' %}" class="block py-2 pl-3 pr-4 text-base-content rounded md:p-0" aria-current="page">
                Logout
              </a>
            </li>
            <li>
              <a href="{% url 'account_signup' %}" class="block py-2 pl-3 pr-4 text-base-content rounded md:p-0" aria-current="page">
                Admin
              </a>
            </li>
          {% else %}
            <li>
              <a href="{% url 'account_login' %}" class="block py-2 pl-3 pr-4 text-base-content rounded md:p-0" aria-current="page">
                Login
              </a>
            </li>

          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>
